.notify{
    background: green;
    color: #fff;
    font-size: 10vw;
    width: 34vw;
    padding:7.5vw;
}


.Toastify__toast
{
    background-color: rgb(255, 255, 255);
    color: green;
}
.Toastify__progress-bar
{
    background-color: green;
}